* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 20px;
    text-align: left;
    margin-left: 67px;
}

#enter {
  margin-top: 20px;
  text-align: left;
  margin-left: 67px;
}

#array {
    background-color: white;
    height: 413px;
    width: 598px;
    margin-left: 160px;
    position: relative;
    margin-top: 64px;
}

#button_block {
  margin-top: 20px;
  margin-bottom: 0px;
}

#code{
  margin-left: 75%;
  font-size: 15pt;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  position: relative;
}

.t_p {
  background-color: #FF7F50;
  position: absolute;
  bottom: 370px;
  transition: 0.2s all ease;
}

.prefix {
  background-color: #FF7F50;
  position: absolute;
  bottom: 270px;
  transition: 0.2s all ease;
}

.answer {
  background-color: #FF7F50;
  position: absolute;
  bottom: 160px;
  transition: 0.2s all ease;
}

.block_t_p {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 370px;
    transition: 0.2s all ease;
}

.block_prefix {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 270px;
    transition: 0.2s all ease;
}

.block_answer {
    width: 28px;
    background-color: #FF7F50;
    position: absolute;
    bottom: 170px;
    transition: 0.2s all ease;
}

.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.block_id_2 {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 50px;
}

.btn {
  margin-left: 15px;
}

#next_ent {
  margin-left: 30px;
}
